<h1>Edit An Album</h1>

<form method="POST" action="/albums<%= @album.id %>">
<input type="hidden" id="hidden" name="_method">
    <input type="text" name="title" value="<%=@album.title%>" placeholder="Album Title">
    <input type="text" name="artist" value="<%=@album.artist%>" placeholder="Artist/Band Name">
    <input type="integer" name="release_year" value="<%=@album.release_year%>" placeholder="release_year">
    <input type="decimal" name="duration" value="<%=@album.duration%>" placeholder="duration">
    <input type="text" name="genre" value="<%=@album.genre%>" placeholder="Genre">



    <input type="submit">
</form>