<h1>Edit An Album</h1>

<form method="POST" action="/albums<%= @album.id %>">
<input type="hidden" id="hidden" name="_method">
    <p> Album Title: <br> <input type="text" name="title" value="<%=@album.title%>" placeholder="Album Title"></p>
    <p> Artist: <br> <input type="text" name="artist" value="<%=@album.artist%>" placeholder="Artist/Band Name"></p>
    <p> Release Year: <br> <input type="integer" name="release_year" value="<%=@album.release_year%>" placeholder="release_year"></p>
    <p> Duration of the Album: <br> <input type="decimal" name="duration" value="<%=@album.duration%>" placeholder="duration"></p>
    <p> Genre: <br> <input type="text" name="genre" value="<%=@album.genre%>" placeholder="Genre"></p>
    <br>
    <input type="submit" value="Submit Edit">
</form>