<h2>Album: <%= @album.title %></h2>
<hr>
<br>

<p><b>Artist:</b> <%= @album.artist %></p>
<p><b>Release Year:</b> <%= @album.release_year %></p>
<p><b>Duration:</b> <%= @album.duration %></p>
<p><b>Genre:</b> <%= @album.genre %></p>


<a href="/albums/<%= @album.id %>" method="Delete">Delete Album</a>
<a href="/albums/<%= @album.id %>/edit">Edit</a> 
<a href="/albums">Go Back</a>

