<h2><%= @album.title %></h2>
<hr>
<br>
<p><%= @album.artist %></p>
<p><%= @album.release_year %></p>
<p><%= @album.duration %></p>
<p><%= @album.genre %></p>

<a href="/albums/<%= @album.id %>" method="Delete">Delete</a>
<a href="/albums/<%= @album.id %>/edit">Edit</a> 
<br>
<a href="/albums">Go Back</a>